@use "vars";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

.footer-grid {
  position: relative;
  bottom: 0;
  /* Set the fixed height of the footer here */

}

.footer-grid .list-unstyled {
    margin: 10px 50px 30px
}

footer {
  padding-top: 30px;
  background-color: #333435;
  color: #bbb;
  min-height: 300px;
}

.footer-grid a {
  color: #999;
  text-decoration: none;
}

.footer-grid a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

.contact-form {
    margin: 15px;
}

.contact-form .form-group{
    width: 140px;
    margin: 10px;
    border-radius: 10px;
    border-color: gray;
}

.contact-form input, textarea{
    border-radius: 10px;
    border-color: gray;
}

.dynamicClass1{
    color: red;
}

.footer-grid .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

.footer ul {
  list-style-type: none;
}

.footer-media-links {
  padding-bottom: 30px;
}

.footer-media-links li {
  display: inline;
  list-style: none;
  margin: 10px;
  text-decoration: none;
}

.media-icon-link img {
  width: 40px;
  height: 40px;
  margin: 10px 5px;

}

@media (min-width: 640px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}

/* Credits: https://www.codeply.com/p/EJd6H4Ejyi */
